
.third_big_text {
    position: absolute;
    top: 220px;
    left: 775px;
    font-size: 48px;
    letter-spacing: 0.5px;
    line-height: 60px;
    font-weight: 400;
    font-family: Helvetica;
    align-items: center;
    height: 120px;
}

.images_3_right{
    position: absolute;
    height: 640px;
    width: 50%;
    left: 50%;
    object-fit: cover;
}
.second_big_text {
    position: absolute;
    top: 220px;
    left: 70px;
    font-size: 48px;
    letter-spacing: 0.5px;
    line-height: 60px;
    font-weight: 400;
    font-family: Helvetica;
    align-items: center;
    height: 120px;

}

.three_images_frame{
    position: relative;
    width: 100%;
    height: 640px;
}
.images_3 {
    position: absolute;
    height: 640px;
    width: 50%;
    object-fit: cover;
}
.section_next_1 {
    position: relative;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 40px;
    font-weight: 400;
    align-items: center;
    width: auto;
    height: 40px;
}
.section_next_2 {
    position: relative;
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: auto;
    height: 22px;
}
.section_text_1 {
    padding: 20px;
    position: absolute;
    top: 450px;
    right: 359px;
    bottom: 60px;
    left: 775px;
    width: 252px;
    height: 70px;
    border-radius: 8px;
    background-color: #000;
    overflow: hidden;
    box-sizing: content-box;
}
.div11 {
    position: absolute;
    top: 21.43px;
    left: 21.45px;
    letter-spacing: 0.54px;
    line-height: 42.89px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: auto;
    height: 41.8px;
    font-size: 32px;
}

.section_text_2 {
    padding: 20px;
    position: absolute;
    top: 450px;
    bottom: 60px;
    left: 1075px;
    border-radius: 8px;
    background-color: #000;
    overflow: hidden;
    width: 252px;
    height: 70px;
}
.first_big_text {
    position: absolute;
    top: 60px;
    left: 775px;
    font-size: 48px;
    letter-spacing: 0.5px;
    line-height: 60px;
    font-weight: 400;
    font-family: Helvetica;
    align-items: center;
    height: 120px;
}
.text_small {
    margin-top: 24px;
    position: relative;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 26px;
    flex-shrink: 0;
    font-size: 18px;
}
.text_small_2 {
    margin-top: 24px;
    position: relative;
    letter-spacing: 0.5px;
    line-height: 26px;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 52px;
    flex-shrink: 0;
    font-size: 18px;
    width: 540px;
}


.main_view {
    width: 100%;
    position: absolute;
    background-color: #181816;
    height: auto;
    text-align: left;
    font-size: 53.44px;
    color: rgba(255, 255, 255, 0.95);
    font-family: Helvetica;
}

