* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'OPPOSans-M';
    src: url('OPPOSans-M.ttf');		
}
@font-face{
    font-family: 'OPPOSans-R';
    src: url('OPPOSans-R.ttf');		
}


.nav {
    width: 100%;
    height: 52px;
    border:0px;
    border-bottom: 1px;
    border-color: rgb(236, 236, 236);
    border-style: solid;
    background-color:  rgba(0, 0, 0, 0);
}
.nav .img_logo {
    position: absolute;
    width: 85px;
    height: 22px;
    top: 14px;
    left: 64px;
}

.nav .navbar {
    margin: 0px 12px;
    display: flex; 
    gap: 24px;
    position: absolute;
    height: 51px;
    top: 0;
    left: 175px;
}

.nav .text-settings {
    font-family: "OPPOSans-S-Regular", Helvetica;
    font-weight: 400;
    color: #0000008c;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 51px;
    white-space: nowrap;
}

.nav .navbar2 {
    position: absolute;
    display: flex;
    gap: 24px;
    top: 14px;
    padding: 0px 12px;
    left: 845px;
}

.nav .text-settings2 {
    font-family: Helvetica;
    font-weight: 400;
    color: #0000008c;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
}

.nav .div-search {
    position: absolute;
    width: 232px;
    height: 38px;
    top: 6px;
    left: 1064px;
    background-color: #f6f6f6;
    border-radius: 32px;
    border: 1px solid;
    border-color: transparent;
}
.nav .input {
    position: absolute;
    top: 9px;
    left: 29px;
}

.nav .text-input {
    margin-left: 5px;
    font-family:  Helvetica;
    font-weight: 400;
    color: #757575;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
}

.nav .search_img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 11px;
    left: 13px;
}


.nav .user_image {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 1308px;
}

.nav .shop_logo {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 1348px;
}


.scroll_keep {
    width: 100%;
    height: auto; /* 模拟滚动范围 */
    overflow: visible;
    background-color: #ffffff;
}



.div-navbar-container {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 10;
    align-items: center; /* 垂直居中 */
    justify-content: flex-start; /* 从左到右排列 */
    width: 100%;
    height: 47px;
    padding: 0px 64px;
    background-color: #FFFFFF;
    
}

.div-navbar-container .selection {
    display: flex;
    width: 208px;
    height: 47px;
    align-items: center;

}

.div-navbar-container .reno13_left {
    padding-right: 12px;
    color: #0000004c;
    font-family:  Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.div-navbar-container .vl {
        width: 0.1px; 
        height: 24px; 
        color: #0000004c; 
}

.div-navbar-container .reno13_right {
    padding-left: 12px;
    font-family:  Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.div-navbar-container .svg_img {
    position: absolute;
    width: 16px;
    height: 17px;
    top: 10px;
    left: 14px;
    object-fit: cover;
    }

.div-navbar-container .div-navbar-right {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 263px;
    height: 47px;
    top: 0;
    left: 1113px;
}

.div-navbar-container .introduce {
    position: absolute;
    top: 6px;
}

.div-navbar-container .radius_frame{
    position: absolute;
    width: 75px;
    height: 36px;
    background-color: #f8f9fa;
    border-radius: 35px;
}


.div-navbar-container .text_summary {
    left: 36px;
    font-family:  Helvetica;
    color: #000000f2;
    position: absolute;
    top: 6px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
}

.div-navbar-container .intro_logo {
    position: absolute;
    left: 10px;
    top: 9px;
    width: 18px;
    height: 18px;
    
 
}
.div-navbar-container .data_logo {
    position: absolute;
    left: 85px;
    top: 9px;
    width: 18px;
    height: 18px;
    
 
}

.div-navbar-container .text_data {
    left: 111px;
    font-family:  Helvetica;
    color: #000000bf;
    position: absolute;
    top: 6px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
}

.div-navbar-container .blue_frame {
    position: absolute;
    width: 94px;
    height: 36px;
    top: 6px;
    left: 170px;
    background-color: #2cff73;
    border-radius: 36px;
}

.div-navbar-container .instant_buy {
    left: 20px;
    font-family: "OPPOSans-S-Regular", Helvetica;
    color: #000000f2;
    position: absolute;
    top: 7px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
}







.main_introduce {
    position: sticky;
    top: 47px;
    width: 100%;
    height: 1032px;
    background-image: url(img/main_intro_bg_img.png);
    background-size: cover;
    background-position: 50% 50%;
    
}

.main_introduce .text_layout {
    position: absolute;
    width: 320px;
    height: 290px;
    top: 371px;
    left: 64px;
}

.main_introduce .reno13_bg {
    position: absolute;
    top: 42px;
    left: 0;
    font-family: "OPPOSans-medium", Helvetica;
    font-weight: 400;
    color: #000000f2;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 40px;
    white-space: nowrap;
}

.main_introduce .reno13_bg2 {
    top: 94px;
    font-family: "OPPOSans-medium", Helvetica;
    font-size: 68px;
    letter-spacing: 0;
    line-height: 76.16px;
    position: absolute;
    tab-size: 8;
    inline-size: 320px;
    left: 0;
    font-weight: 400;
    color: #000000f2;
    white-space: nowrap;
}

.main_introduce .detail_introduce {
    position: absolute;
    width: 320px;
    height: 96px;
    top: 194px;
    left: 0;
}



.main_introduce .text_introduce {
    font-family: "PingFang SC-Regular", Helvetica;
    font-weight: 400;
    color: #000000f2;
    font-size: 24px;
    letter-spacing: 0.50px;
    line-height: 31.9px;
    white-space: nowrap;
}

.main_introduce .oppo_ai {
    position: absolute;
    width: 140px;
    height: 30px;
    top: 371px;
    left: 64px;
    background-image: url(img/OPPO\ AI.png);
    background-size: cover;
    background-position: 50% 50%;
}

.main_introduce .oppo_system {
    position: absolute;
    width: 111px;
    height: 39px;
    top: 921px;
    left: 1265px;
    background-image: url(img/system.png);
    background-size: cover;
    background-position: 50% 50%;
}


.six_images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 24px; 
    padding: 80px 0 160px 0;
    background-color: #ffffff;
    width: 100%; 
    height: 1048px;
    box-sizing: border-box;
}
  
  .six_images .line_card{
    width: 1312px;
    display: flex;
    justify-content: space-between;
  
  }
  
  .six_images .card {
    display: flex;
    flex-direction: column;
    width: 432px;
    height: 360px;
    background-color: #eeecf0;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .six_images .card-image {
    width: 100%;
    height: 302px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    object-fit: cover;
    transition: height 0.3s ease, transform 0.3s ease;
  }
  
  .six_images .card-content {
    padding: 16px;
    position: relative;
  }
  
  .six_images .card-title {
    font-size: 24px;
    color: #000000;
    height: 32px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  
  
  .six_images .hidden-text {
    padding-top: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.55);
    margin: 4px 0;
    line-height: 24px;
    position: absolute; 
    top: 40px; 
    opacity: 0; 
    transform: translateY(10px); 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease;
    pointer-events: none; 
  }
  
  
  .card:hover .hidden-text {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; 
  }
  
  .card:hover .card-image {
    transform: translate(0px, 5px) scale(0.97);
    height: 212px;
  }






.bg-img {
    
    box-sizing: border-box;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .w-screen {
    width: 100%;
  }
 
  .test1 {

    box-sizing: border-box;

    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .absolute {
    position: absolute;
  }
  .relative {
    position: relative;
  }
  .z-1 {
    z-index: 1;
  }
  .z-3 {
    z-index: 3;
  }
  .z-2 {
    z-index: 2;
  }
  .z-4 {
    z-index: 4;
  }
  .z-5 {
    z-index: 5;
  }

  #section-ksp {

  }
  .text-opacity {
    --tw-text-opacity: 0.95;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }

  .zn--wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    box-sizing: border-box;
  }

  .zn--wrapper .bg-img {
    font-family: Helvetica;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .zn--wrapper .section-cover {
    background: rgba(0, 0, 0, 0.95);
    pointer-events: none;
  }
  .zn--wrapper img {
    box-sizing: border-box;
    display: block;
    max-width: none;
  }
  .grid_view {
    box-sizing: border-box;
    position: relative;
    height: 76.389vw;
    padding-top: 12.78vw;
    overflow: hidden;
  }
  .text_main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 68px;
    text-align: center;
  }

  .pictures_gird {
    position: absolute;
    width: 45.28vw;
    height: 44.44vw;
    left: 50%;
    bottom: 5.55vw;
    transform: translateX(-50%);
  }

  .right_picture_1 {
    position: absolute;
    overflow: hidden;
    width: 22.36vw;
    height: 21.94vw;
    border-radius: 8px;
    top: 0;
    right: -22.92vw;
    transform-origin: bottom;
  }

  .right_picture_2 {
    position: absolute;
    overflow: hidden;
    width: 22.36vw;
    height: 21.94vw;
    border-radius: 8px;
    bottom: 0;
    right: -22.92vw;
    transform-origin: top;
  }

  .left_picture_frame {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    background: #000;
    width: 22.36vw;
    height: 44.44vw;
    left: -22.92vw;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 48px;
    border-radius: 8px;
  }

  .left_picture {
    position: absolute;
    width: 15.42vw;
    height: 29.72vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .text_frame_settings {
    position: relative;
    margin-top: calc(var(--rpx, 1px) * 24);
    width: 100%;
    padding-left: calc(var(--rpx, 1px) * 16);
    padding-right: calc(var(--rpx, 1px) * 16);
  }

  .font_frame {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.5px;
  }
  .font_frame_2 {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.5px;
  }

  .grey-bg-layer {
    box-sizing: border-box;
    background: #201f1c;
    border-radius: 48px;
    width: 100%;
    height: 100%;
  }
  .grey-bg-layer_2 {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 76.389vw;
    bottom: -5.55vw;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .margin_modified{
    width: 100%;
    height: auto;
    margin-top: -80px;
  }